@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'montserrat', sans-serif;
}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
}
nav li{
    padding: 5px 20px;

}
nav .active{
    border: solid #e20000 1px;
    border-radius: 20px;
}
h1{
    color: #e20000;
}
p{
    color: #6a6a6a;
}
.btn{
    background-color: white;
    color: #370a6d;
    border: none;
    border-radius: 15px;
}
.btn:hover{
    background-color: #370a6d;
    color: white;
}
.btn-rojo{
    background-color: #e20000;
    color: white;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
}
.btn-rojo:hover{
    background-color: #370a6d;
    color: white;
}
.hyperv-rojo{
    color: #E20000;
    text-decoration: none;
}
.hyperv-rojo:hover{
    color: #370a6d;
}
footer .fa-linkedin-in{
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#contacto footer, #contacto footer a, #inicio footer, #inicio footer a{
    color: white;
}
#contacto footer .fa-github, #inicio footer .fa-github{
    font-size: 30px;
    color: white;
}
#contacto footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
}
footer a:hover{
    color: #370a6d !important;
}
footer .fa-linkedin-in:hover{
    background-color: #370a6d !important;
    color: white !important;
}
footer .fa-github:hover{
    color: #370a6d !important;
}
div #logos a{
    text-decoration: none;
}
.whatsapp{
    background-color:#370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right:80px;
    position: fixed;
    bottom: 0px;
}
.whatsapp a{
    color: white;
}
form textarea{
    resize: none;
    height: 150px;
}
form input[type=text], form input[type=email], form input[type=tel], textarea{
    border-radius: 15px !important;
}

#proyectos, #inicio{
    background-image: url(../images/fondo-proyectos.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos footer, #proyectos footer a, #sobre-mi footer, #sobre-mi footer a, #inicio footer, #inicio footer a{
    color: #E20000;
}
#proyectos footer .fa-github, #sobre-mi footer .fa-github, #inicio footer .fa-github{
    font-size: 30px;
    color: #E20000;
}
.pycto{
    background-color: white;
}
.pycto h2{
    font-size: 16px;
    /*text-transform: uppercase; para ponerlo en mayúsculas*/
    color: white;
    background: rgb(255,74,74);
    background: linear-gradient(90deg, rgba(255,74,74,1) 40%, rgba(246,20,20,1) 60%);
    padding: 16px;
}
.pycto img{
    height: 200px;
}
.pycto p{
    font-size: 1px;
    height: 120px;
    margin: 0px 10px;
}
#inicio .div-cohete{
    height: 410px;
}
#inicio .cohete{
    height: 400px;
}
#inicio .cohete:hover{
    height: 410px;
}
#inicio p{
    font-size: 17px;
    border: solid 1px #E20000;
    color: #E20000;
    border-radius: 50px;
    font-weight: 600;
    margin: auto;
}
#stack-tec{
    background: rgb(255,74,74);
    background: linear-gradient(90deg, rgba(255,74,74,1) 40%, rgba(246,20,20,1) 60%);
    padding: 16px;
}
.tarj i{
    font-size: 50px;
}
.tarj{
    background-color: #eee;
    margin: 10px;
    border-radius: 10px;
    display: block;
    
}
.tarj h3{
    font-size: 15px;
}
.img-circle{
    display: block;
    border-radius: 50%;
    padding: 10px;
    
}



@media (max-width: 480px){
    .whatsapp{
        right: 20px;
    }
    #proyectos, #inicio{
        background-size: contain;
        background-repeat: no-repeat;
    }
    #contacto{
        background-attachment: fixed;
        background-position: bottom;
    }
    
        /*APLICAR Y CONTINUAR EN CASO DE NO SOLUCIONAR BACKGROUND
        #inicio{
        background-image: url(../images/fondo-proyectos.png);
        background-size: contain;
        background-repeat: no-repeat;
        }
        #inicio p{
        color: #E20000;
        border: solid 1px #E20000;
        }*/
}